# Nettoyage des données en provenance d'Enedis

Ce notebook permet de nettoyer les données depuis Enedis. Le fichier est au format CSV mais les données ne sont pas facilement accessible. Les deux premières lignes sont des en-tête pour définir la période ainsi que différente définition tel que l'unité de mesure.

In [1]:
BASE_PATH = "datalake/"
RAW_DATA_FILENAME = "sample.csv"
RAW_DATA_CLEANED_FILENAME = "enedis_conso_clean.csv"
CLEANED_DATA_FILENAME = "enedis-data-ready-to-work.parquet"

In [2]:
with open(f"{BASE_PATH}{RAW_DATA_FILENAME}", "r+") as fp:
    lines = fp.readlines()
    with open(f"{BASE_PATH}{RAW_DATA_CLEANED_FILENAME}", "w+") as fpclean:
        fpclean.writelines(lines[2 : len(lines) - 2])

In [3]:
import pandas as pd

df = pd.read_csv(f"{BASE_PATH}{RAW_DATA_CLEANED_FILENAME}", sep=";")

In [4]:
df["Total Consommation"] = df["EAS F2"] + df["EAS F1"] + df["EAS F3"]

In [5]:
df_work = df[["Horodate", "EAS F1", "EAS F2", "EAS F3", "Total Consommation"]].copy()
df_work.columns = [
    "Horodate",
    "Quantité Heure Creuse en wh",
    "Quantité Heure Pleine en wh",
    "Quantité Weekend en wh",
    "Total Consommation",
]

In [6]:
df_work["Différence journalier Total Consommation"] = df_work[
    "Total Consommation"
].diff()
df_work["Différence journalier Heure Creuse"] = df_work[
    "Quantité Heure Creuse en wh"
].diff()
df_work["Différence journalier Heure Pleine"] = df_work[
    "Quantité Heure Pleine en wh"
].diff()
df_work["Différence journalier Weekend"] = df_work["Quantité Weekend en wh"].diff()
df_work

,Horodate,Quantité Heure Creuse en wh,Quantité Heure Pleine en wh,Quantité Weekend en wh,Total Consommation,Différence journalier Total Consommation,Différence journalier Heure Creuse,Différence journalier Heure Pleine,Différence journalier Weekend
0,2021-04-01T01:00:00+02:00,11538434,12944147,3668104,28150685,NaN,NaN,NaN,NaN
1,2021-04-02T01:00:00+02:00,11543332,12948970,3668104,28160406,9721.0,4898.0,4823.0,0.0
2,2021-04-03T01:00:00+02:00,11550420,12954810,3668104,28173334,12928.0,7088.0,5840.0,0.0
3,2021-04-04T01:00:00+02:00,11550420,12954810,3683924,28189154,15820.0,0.0,0.0,15820.0
4,2021-04-05T01:00:00+02:00,11550420,12954810,3700863,28206093,16939.0,0.0,0.0,16939.0
5,2021-04-06T01:00:00+02:00,11550420,12954810,3715235,28220465,14372.0,0.0,0.0,14372.0
6,2021-04-07T01:00:00+02:00,11558166,12962724,3715235,28236125,15660.0,7746.0,7914.0,0.0
7,2021-04-08T01:00:00+02:00,11567763,12973381,3715235,28256379,20254.0,9597.0,10657.0,0.0
8,2021-04-09T01:00:00+02:00,11576991,12983585,3715235,28275811,19432.0,9228.0,10204.0,0.0
9,2021-04-10T01:00:00+02:00,11586225,12989519,3715235,28290979,15168.0,9234.0,5934.0,0.0
10,2021-04-11T01:00:00+02:00,11586225,12989519,3731009,28306753,15774.0,0.0,0.0,15774.0
11,2021-04-12T01:00:00+02:00,11586225,12989519,3747956,28323700,16947.0,0.0,0.0,16947.0
12,2021-04-13T01:00:00+02:00,11593544,12997583,3747956,28339083,15383.0,7319.0,8064.0,0.0
13,2021-04-14T01:00:00+02:00,11604528,13007183,3747956,28359667,20584.0,10984.0,9600.0,0.0
14,2021-04-15T01:00:00+02:00,11613655,13013761,3747956,28375372,15705.0,9127.0,6578.0,0.0
15,2021-04-16T01:00:00+02:00,11624750,13021126,3747956,28393832,18460.0,11095.0,7365.0,0.0
16,2021-04-17T01:00:00+02:00,11634341,13029891,3747956,28412188,18356.0,9591.0,8765.0,0.0
17,2021-04-18T01:00:00+02:00,11634341,13029891,3762392,28426624,14436.0,0.0,0.0,14436.0
18,2021-04-19T01:00:00+02:00,11634341,13029891,3776699,28440931,14307.0,0.0,0.0,14307.0
19,2021-04-20T01:00:00+02:00,11640373,13035711,3776699,28452783,11852.0,6032.0,5820.0,0.0
20,2021-04-21T01:00:00+02:00,11647286,13042412,3776699,28466397,13614.0,6913.0,6701.0,0.0
21,2021-04-22T01:00:00+02:00,11655820,13046986,3776699,28479505,13108.0,8534.0,4574.0,0.0
22,2021-04-23T01:00:00+02:00,11662898,13051232,3776699,28490829,11324.0,7078.0,4246.0,0.0
23,2021-04-24T01:00:00+02:00,11669400,13056045,3776699,28502144,11315.0,6502.0,4813.0,0.0
24,2021-04-25T01:00:00+02:00,11669400,13056045,3793588,28519033,16889.0,0.0,0.0,16889.0
25,2021-04-26T01:00:00+02:00,11669400,13056045,3804217,28529662,10629.0,0.0,0.0,10629.0
26,2021-04-27T01:00:00+02:00,11674522,13061758,3804217,28540497,10835.0,5122.0,5713.0,0.0
27,2021-04-28T01:00:00+02:00,11681753,13066796,3804217,28552766,12269.0,7231.0,5038.0,0.0
28,2021-04-29T01:00:00+02:00,11687905,13071763,3804217,28563885,11119.0,6152.0,4967.0,0.0
29,2021-04-30T01:00:00+02:00,11697271,13077082,3804217,28578570,14685.0,9366.0,5319.0,0.0

In [7]:
df_work.to_parquet(f"{BASE_PATH}{CLEANED_DATA_FILENAME}")